.consultation {
  .ConsultationContent {
    background-color: #faf5ff;
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding: 64px 0px;
    .container {
    max-width: 1232px; 
    width: 100%;
    margin: 0 auto; 
    }
  }
}
