.expertise {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    left: 49.5%;
    top: 41%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url("/assets/expertise.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    opacity: 0.12;
    z-index: 0;
    pointer-events: none;
  }
  .container {
    position: relative; 
    z-index: 1; 
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 1200px;
    margin: 0 auto;
    .title {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
      align-items: center;
      h2 {
        background: linear-gradient(270deg, #a713ff 2.11%, #ff10ff 73.53%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 36px;
      }
      p {
        color: #6b7280;
        font-weight: 400;
        font-size: 28px;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
      .card {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 16px;
        span {
          background: linear-gradient(270deg, #a713ff 2.11%, #ff10ff 73.53%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 48px;
          font-weight: 600;
        }
        h5 {
          color: #303a49;
          font-weight: 600;
          font-size: 16px;
        }
        .line {
          position: relative;
          width: 100%;
          height: 1px;
          margin-left: auto;
          background: linear-gradient(90deg, #251462 0%, #8031cd 100%);

          &::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 50%;
            width: 10px;
            height: 10px;
            background: linear-gradient(180deg, #251462 17.74%, #8031cd 82.26%);
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
    }
  }
}


@media (max-width:768px){
  .expertise {
    padding: 0px 16px;
    &::after {
      top: 50%;
    }
    .container {
      .title{
        text-align: center;
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 14px;
          line-height: 25px;
        }
      }
      .cards {
        gap:16px;
        .card{
          span{
            font-size: 28px;
          }
          h5{
            font-size: 14px;
          }
        }
      }
    }
  }
}