.scope {
  background-color: #eceaf8;
  padding-top: 96px;
  .container {
   max-width: 1232px; 
    width: 100%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 64px;
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 16px;
      h2 {
        background: linear-gradient(270deg, #8031cd 2.11%, #d328ec 73.53%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 36px;
      }
      p {
        color: #6b7280;
        font-size: 24px;
        font-weight: 400;
      }
    }

    .cards {
      display: flex;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin-bottom: 80px;
    }
    .card {
      width: 394px;
      height: 421px;
      border-top: 0.8px solid #d792ff33;
      background-color: #faf5ff;
      box-shadow: 0px 4px 16.7px 0px #00438c1f;
      border-radius: 14px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 33px;
      padding: 33px;
      .icon {
        background-color: #251462;
        border-radius: 8px;
        padding: 8px;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h2 {
        color: #303a49;
        font-weight: 600;
        font-size: 24px;
      }
      p {
        width: 228px;
        font-weight: 400;
        color: #6b7280;
        font-size: 16px;
        line-height: 24px;
      }

      ul {
        color: #6b7280;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-left: 0;
      }

      li {
        font-size: 14px;
        font-weight: 400;

        display: flex;
        align-items: center;
        gap: 8px;
      }

      li::before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #8031cd;
        border-radius: 50%;
        flex-shrink: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .scope {
    padding: 50px 16px;
    .container {
      gap: 32px;
      .title {
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 16px;
        }
      }
      .cards {
        flex-direction: column;
        align-items: center;
      }
      .card {
        width: 100%;
        height: auto;
        padding: 33px;
        gap: 16px;
        .icon {
          width: 48px;
          height: 48px;
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 8px;
          h2 {
            font-size: 20px;
          }
          p {
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }
}
