.contactForm {
  background-color: #faf5ff;
  padding: 96px;
  .container {
    max-width: 1232px; 
    width: 100%;
    margin: 0 auto; 
    border: 1px solid #8031cd;
    .form {
      margin: 100px 246px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      
      &[dir="rtl"],
      [dir="rtl"] & {
        flex-direction: column !important; 
      }
            img {
        align-self: flex-start;
      }
      
      h2 {
        background: linear-gradient(270deg, #8031cd 2.11%, #d328ec 73.53%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        line-height: 52px;
        font-size: 36px;
        text-align: start;
      }
      
      .label {
        color: #303a49;
        font-weight: 500;
        font-size: 16px;
        text-align: start;
        align-items: start;
      }
      
      .inputWrapper {
        padding: 2px;
        border-radius: 12px;
        background: linear-gradient(180deg, #251462 17.74%, #8031cd 82.26%);
      }
      
      .text,
      .textarea {
        width: 100%;
        border: none;
        border-radius: 10px;
        background: #fff;
        padding: 12px 14px;
        outline: none;
        height: 48px;
        text-align: start;
        direction: inherit;

        &::placeholder {
          text-align: start;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .textarea {
        height: 157px;
        resize: vertical;
      }
      
      button {
        width: 100%;
        background-color: #d328ec;
        box-shadow: 0px 4px 12px 0px #a713ff33;
        height: 48px;
        border-radius: 12px;
        padding: 8px 24px;
        font-weight: 600;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }
}

[dir="rtl"] {
  .contactForm {
    .container {
      .form {
        fieldset {
          &.flex {
            flex-direction: column !important;
          }
        }
        
        img {
          align-self: flex-start;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contactForm {
    padding: 64px 16px;
    .container {
      padding: 50px 16px;
      .form {
        margin: 0px;
        h2 {
          font-size: 28px;
          line-height: 40px;
        }
        
        img {
          align-self: center;
        }
      }
    }
  }
}