@use "@/Sass/helpers/variables.scss" as *;

.heroSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 607px;
  .imgHero {
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: 1;
    filter: brightness(0.4);
  }
  .icon {
    position: fixed;
    z-index: 999;
    top: 650px;
    right: 90px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #25d366;
    box-shadow: 0px 4px 17.3px 0px #2c2d2f80;
    cursor: pointer;
  }

  .heroContent {
    font-family: "montserrat", sans-serif;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 130px;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 170px;
      font-weight: 700;
      margin-bottom: 16px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #faf5ff;
      // font-family: Arial, Helvetica, sans-serif;
      font-family: 'montserrat', sans-serif;
    }
    button {
      display: flex;
      gap: 10px;
      align-items: center;
      background-color: $primary_color;
      box-shadow: 0px 4px 12px 0px #a713ff33;
      height: 48px;
      padding: 8px 24px;
      border-radius: 12px;
      border: none;
      color: $white_50;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .heroSection {
    .imgHero {
      object-fit: cover;
      position: absolute;
      inset: 0;
      z-index: 1;
      filter: brightness(0.4);
    }
    .icon {
      position: fixed;
      z-index: 999;
      bottom: 80px;
      right: 24px;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #25d366;
      box-shadow: 0px 4px 17.3px 0px #2c2d2f80;
      cursor: pointer;
    }

    .heroContent {
      font-family: "montserrat", sans-serif;
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: 130px;
      align-items: center;
      text-align: center;
      h1 {
        font-size: 50px;
        font-weight: 700;
      }
    }
  }
}
