@use "@/Sass/helpers/variables.scss" as *;

.heroSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 607px;
  // height: calc(100vh - 80px);
  overflow: hidden;
  .imgHero {
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: 1;
    filter: brightness(0.4);
  }
  .icon {
    position: absolute;
    z-index: 5;
    bottom: 0px;
    right: 158px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #25d366;
    box-shadow: 0px 4px 17.3px 0px #2c2d2f80;
    cursor: pointer;
  }

  .heroContent {
    font-family: "montserrat", sans-serif;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 130px;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 170px;
      font-weight: 700;
      margin-bottom: 16px;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-stroke: 1px #faf5ff;
    }
    button {
      display: flex;
      gap: 10px;
      align-items: center;
      background-color: $primary_color;
      box-shadow: 0px 4px 12px 0px #a713ff33;
      height: 48px;
      padding: 8px 24px;
      border-radius: 12px;
      border: none;
      color: $white_50;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
