@use '../Sass/helpers/variables.scss' as *;
.navbar{
    background-color: #303A49;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    // padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks{
    display: flex;
    gap: 32px;
    .navLink{
        color: $white_50;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover{
            color: #FF6A3D;
        }
        &.active{
            color: $primary_color;
            font-weight: 600;
        }
    }
}

.navButtons{
    display: flex;
    gap: 16px;
    button:first-of-type{
        border:1px solid $primary_color;
        box-shadow: 0px 4px 12px 0px #A713FF33;
        height: 48px;
        padding: 8px 24px;
        background-color: transparent;
        border-radius: 12px;
        color:$white_50;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

     

        
    }
    button:last-of-type{
        display: flex;
        gap: 10px;
        align-items: center;
        background-color: $primary_color;
        box-shadow: 0px 4px 12px 0px #A713FF33;
        height: 48px;
        padding: 8px 24px;
        border-radius: 12px;
        border:none;
        color:$white_50;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

        
    }   
}