.card {
  border-radius: 24px;
  border: 1px solid #faf5ff;
  overflow: hidden;
  background-color: #202122;
  gap: 0px;

  .title {
    position: relative;
    height: 200px;
    background-image: url("../../public/assets/blog1.jpg");
    background-size: cover;
    background-position: center;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
    .titleInfo {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      z-index: 2;
      color: #fff;
      text-align: left;
      padding: 16px 23px;
      h2 {
        color: #e5e7eb;
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
        font-family: "montserrat", sans-serif;
      }
      Button {
        padding: 8px 24px;
        border-radius: 12px;
        height: 48px;
        border: 1px solid #d328ec;
        box-shadow: 0px 4px 12px 0px #a713ff33;
        background-color: transparent;
        max-width: max-content;
        margin-left: auto;
        font-weight: 600;
        color: #fcfcfc;
        font-family: "montserrat", sans-serif;
        font-size: 16px;
      }
    }
  }
  .content {
    padding: 22px 25.5px 25px 25.5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .contentTitle {
      display: flex;
      justify-content: space-between;
      .date {
        color: #d792ff;
        font-weight: 300;
        font-size: 14px;
      }
      .category {
        border: 1px solid #2514621f;
        outline: 1px solid
          radial-gradient(50% 50% at 50% 50%, #d328ec 0%, #251462 100%);

        backdrop-filter: blur(38px);
        background-color: #2514621f;
        border-radius: 20px;
        padding: 4px 8px;
        color: #fcfcfc;
        font-weight: 400;
        font-size: 12px;
        font-family: "montserrat", sans-serif;
      }
    }
    .des {
      color: #eceaf8;
      font-size: 14px;
      line-height: 25px;
    }
  }
}

@media (max-width: 768px) {
  .card {
    .title {
      height: 150px;
      .titleInfo {
        padding: 16px;
        h2 {
          font-size: 14px;
        }
        Button {
          width: 110px;
          padding: 4px 12px;
          height: 36px;
          font-size: 12px;
        }
      }
    }
    .content {
      padding: 16px 20px 20px 20px;
      .contentTitle {
        .date {
          font-size: 12px;
        }
        .category {
          font-size: 10px;
          padding: 2px 6px;
        }
      }
      .des {
        font-size: 12px;
        line-height: 20px;
     display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
      }
    }
  }
}