@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

.swiper-wrapper {
  gap: 16px !important;
}

.swiper-slide {
  margin-right: 0px !important;

  transition:
    box-shadow 0.4s ease,
    transform 0.4s ease;
}

.swiper-slide:hover {
  box-shadow: 0px 4px 30px 5px #00438c99 !important;
}

/* RTL Support for Arabic */
html[dir="rtl"] {
  direction: rtl;
}

html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] body {
  direction: ltr;
  text-align: left;
}

/* Flexbox adjustments for RTL */
html[dir="rtl"] .flex {
  flex-direction:column;
}

html[dir="rtl"] .gap-2 {
  gap: 0.5rem;
}

html[dir="rtl"] button {
  display: inline-flex;
  flex-direction: row-reverse;
}

Button{
  cursor: pointer;
}