@use "../helpers/variables.scss" as *;
.buildProduct {
  margin: 96px 0;
  .container {
    margin: 0 auto;
    max-width: 1232px;
    width: 100%;
    border-radius: 24px;
    background: linear-gradient(180deg, #251462 17.74%, #8031cd 82.26%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 32px;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
      .text {
        display: flex;
        gap: 16px;
        flex-direction: column;
        h2 {
          color: $white_50;
          font-weight: 700;
          font-size: 36px;
          text-align: center;
          line-height: 52px;
          font-family: "montserrat", sans-serif;
        }
        p {
          color: #e5e7eb;
          font-weight: 400;
          font-size: 20px;
          text-align: center;
          line-height: 30.6px;
        }
      }
      Button {
        font-size: 16px;
        height: 48px;
        font-weight: 600;
        font-family: "montserrat", sans-serif;
        max-width: fit-content;
        padding: 10px 24px;
        background-color: transparent;
        border: 1px solid #d328ec;
        border-radius: 12px;
        box-shadow: 0px 4px 12px 0px #a713ff33;
      }
    }
  }
}

@media (max-width: 768px) {
  .buildProduct {
    margin: 64px 16px;
    .container {
      .content {
        .text {
          h2 {
            font-size: 24px;
            line-height: 40px;
            text-align: center;
          }
        }
      }
    }
  }
}
