@use "@/Sass/helpers/variables.scss" as *;
.heroSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;

  .imgHero {
    object-fit: cover;
    position: relative;
    filter: brightness(0.3);
  }

  .heroContent {
    font-family: "montserrat", sans-serif;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: $white_50;

    .item {
      display: flex;
      flex-direction: column;
      gap: 32px;

      h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 16px;

        span {
          color: $primary_color;
        }
      }

      p {
        font-size: 20px;
        max-width: 600px;
        line-height: 30.6px;
        opacity: 0.85;
      }
    }

    button {
      display: flex;
      gap: 10px;
      align-items: center;
      background-color: $primary_color;
      height: 48px;
      padding: 8px 24px;
      border-radius: 12px;
      border: none;
      color: $white_50;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

/* ✅ MEDIA QUERY */
@media (max-width: 768px) {
  .heroSection {
    padding: 108px 0;

    .heroContent {
      gap: 28px;

      .item {
        gap: 16px;

        h1 {
          font-size: 36px;
        }

        p {
          font-size: 16px;
          line-height: 30.6px;
        }
      }
    }
  }
}


