@use '@/Sass/helpers/variables.scss' as *;

.heroSection {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px); 
    overflow: hidden;
    

    .imgHero {
        object-fit: cover; 
        position: relative;
        filter: brightness(0.3);
        
    }

    // .overLay {
    //     position: absolute;
    //     background: radial-gradient(#452EB4,#00000000);
    //     width: 100%;
    //     height: 100%;
    //     z-index: 1;
    //     opacity: 10%;
 
    // }
 
    .heroContent {
        font-family: 'montserrat', sans-serif;
        position: relative; 
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        text-align: center;
        padding: 0 20px;
        color: $white_50;

        h1 {
            font-size: 48px;
            color: $white_50;
            font-weight: 700;
            margin-bottom: 16px;
            word-wrap: break-word;
            max-height: 152px;
            span{
                color: $primary_color;
            }
        }

        p {
            color: $white_50;
            opacity: 85%;
            font-size: 20px;
            font-weight: 400;
            max-width: 600px;
            margin-bottom: 32px;
            line-height: 30.6px;
        }
         button{
        display: flex;
        gap: 10px;
        align-items: center;
        background-color: $primary_color;
      box-shadow: 0px 4px 12px 0px #A713FF33;
        height: 48px;
        padding: 8px 24px;
        border-radius: 12px;
        border:none;
        color:$white_50;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;

        
    }  
    }
}