@use "../helpers/variables.scss" as *;
.process {
  padding: 96px 0px;
  background-color: #faf5ff;
  .container {
    margin: 0 auto;
    max-width: 1232px;
    padding: 112px 104px;
    box-shadow: 0px 0px 16.7px 0px #00438c1f;
    border-radius: 48px;
    background: linear-gradient(135deg, #faf5ff 0%, #fcfcfc 50%, #eff6ff 100%);
    .content {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
    .contentTitle {
      display: flex;
      flex-direction: column;
      gap: 16px;
      text-align: center;
      h3 {
        background: linear-gradient(270deg, #a713ff 2.11%, #ff10ff 73.53%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "montserrat", sans-serif;
        font-size: 36px;
        font-weight: 700;
      }
      p {
        color: #6b7280;
        font-family: "montserrat", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
      }
    }
    .processItem {
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: $white_50;
      padding: 16px;
      border-radius: 16px;
      box-shadow: 0px 4px 6px -4px #0000001a;
      box-shadow: 0px 10px 15px -3px #0000001a;
      .processNumber {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon {
          width: 64px;
          height: 64px;
          background-color: #251462;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #eceaf8;
        }
        h4 {
          font-size: 60px;
          font-weight: 700;
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-stroke: 1.5px #251462;
        }
      }
      .processContent {
        h3 {
          font-family: "montserrat", sans-serif;
          font-size: 24px;
          font-weight: 600;
          color: #303a49;
        }
        p {
          font-family: "montserrat", sans-serif;
          font-size: 16px;
          font-weight: 400;
          color: #6b7280;
          line-height: 30.6px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .process {
    padding: 64px 16px;
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px 23px;

      .content {
        padding: 0px;
        gap: 32px;
      }
      .contentTitle {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        h3 {
          font-size: 28px;
        }
        p {
          font-size: 16px;
          line-height: 26x;
        }
      }
      .processItem {
        gap: 12px;
        .processNumber {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .icon {
            width: 48px;
            height: 48px;
          }
          h4 {
            font-size: 40px;
          }
        }
        .processContent {
          display: flex;
          flex-direction: column;
          gap: 12px;
          h3 {
            font-family: "montserrat", sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #303a49;
          }
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
