@use "../helpers/variables.scss" as *;
.services {
  background-color: $black_bg;
  padding: 25px 32px 87px 32px;
  position: relative;
  overflow: hidden;
  .titleWrapper {
    overflow: hidden;
    width: 100%;
    margin-bottom: 48px;

    .title {
      color: #303a49;
      font-family: "montserrat", sans-serif;
      font-size: 150px;
      font-weight: 700;
      line-height: 150px;
      white-space: nowrap;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 54px;
    h3 {
      font-family: "montserrat", sans-serif;
      font-size: 36px;
      font-weight: 700;
      background: linear-gradient(270deg, #8031cd 2.11%, #d328ec 73.53%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      font-family: "montserrat", sans-serif;
      color: $text-p;
      font-size: 28px;
      font-weight: 400;
      line-height: 40px;
      text-align: center;
    }
  }
  .coverWrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0.12;
  }

  .cover {
    width: auto;
    height: 430px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .services {
    .titleWrapper {
      .title {
        font-size: 36px;
        line-height: 60px;
      }
    }
    .content {
      margin-bottom: 32px;
      h3 {
        font-size: 28px;
      }
      p {
        font-family: "montserrat", sans-serif;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
      }
    }
    .coverWrapper {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      opacity: 0.12;
    }

    .cover {
      width: auto;
      height: 430px;
      object-fit: cover;
    }
  }
}
