@use '../helpers/variables.scss' as *;
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list{
    background-color: $black_bg;
    .items{
        display: flex;
        gap: 48px;
    }
    .item{
        display: flex;
        gap:16px;
        align-items: center;
    }
    .title{
        color:$white_50;
        font-size: 16px;
        font-weight: 700;
    }
}