@use "../helpers/variables.scss" as *;

.whyChooseUs {
  padding: 96px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
  }

  .content {
    background-image: url("../../../public/assets/choose.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 48px;
    padding: 60px 64px;
    display: flex;
    flex-direction: column;
    gap:64px;
    .contentTitle {
      display: flex;
      flex-direction: column;
      gap: 16px;
      h3 {
        background: linear-gradient(270deg, #8031cd 2.11%, #d328ec 73.53%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        font-weight: 700;
        font-family: "montserrat", sans-serif;
        line-height: 52px;
      }
      p {
        font-weight: 400;
        color: $white_50;
        font-size: 20px;
        line-height: 30px;
           font-family: "montserrat", sans-serif;
      }
    }

    .card {
      background: #00438c1f;
      border-radius: 20px;
      width: 520px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      text-align: center;
      h3 {
        font-family: "montserrat", sans-serif;
        font-weight: 600;
        color: white;
        font-size: 24px;
      }
      p{
        color: white;
        font-weight: 400;
        font-family: "montserrat", sans-serif;
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
}
