@use '../helpers/variables.scss' as *;
.projectContent {
  padding: 96px 0;
  .container {
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    .title {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      h2 {
        background: linear-gradient(270deg, #8031cd 2.11%, #d328ec 73.53%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 36px;
        font-family: "montserrat", sans-serif;
      }
      p{
        color: #303A49;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
      }
    }
    .cards{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 16px;
       .card {
      background: linear-gradient(180deg, #251462 17.74%, #8031cd 82.26%);

      border-radius: 32px;
      border: 1px solid #ffffff1a;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      height: 100%;
      .image {
        border-radius: 12px;
        height: 197px;
        object-fit: cover;
      }

      h3 {
        color: white;
        line-height: 48px;
        font-weight: 600;
        font-size: 24px;
        font-family: "montserrat", sans-serif;
      }
      .categories {
        display: flex;
        gap: 24px;
        span {
          background: #a713ff1f;
          border-radius: 20px;
          padding: 12px 24px;
          color: $white_50;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          font-family: "montserrat", sans-serif;
          outline: 1px solid #ffffff2b;
        }
      }
      .des {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 16px 0;
        border-bottom: 1px solid #d792ff4d;
        .rate {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32.25px;
          height: 32.25px;
          background-color: #b3a9e0;
          border-radius: 50%;
          color: $white_50;
        }
        p {
          color: $white_50;
          font-size: 16px;
          font-weight: 600;
          line-height: 27px;
          font-family: "montserrat", sans-serif;
        }
      }
      .viewProject {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        span {
          color: $white_50;
          font-size: 16px;
          font-weight: 600;
          line-height: 27px;
          font-family: "montserrat", sans-serif;
        }
      }
    }
    }
    .button{
      background-color:  #D328EC;
box-shadow: 0px 4px 12px 0px #A713FF33;
height: 48px;
padding: 8px 24px;
border-radius: 12px;
color: #FFFFFF;
font-weight: 600;
font-size: 16px;
        font-family: "montserrat", sans-serif;
        cursor: pointer;


    }
  }
}
