.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 64px;
  border-radius: 20px;
  font-family: "montserrat", sans-serif;
  background: #fff;
}

.searchWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    #251462 17.74%,
    #8031cd 82.26%
  );

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

.searchInput {
  flex: 1;
  height: 100%;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 0 16px;
  background: transparent;
  z-index: 1;
}

.filterBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  height: 48px;
  margin-inline: 8px;
  padding: 8px 24px;
  border-radius: 12px;
  background: #d328ec;
  color: #fcfcfc;
  font-size: 16px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0px 4px 12px 0px #a713ff33;
  font-weight: 600;
  z-index: 1;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8031cd;
  z-index: 1;
}
