.blogContent{
    padding: 96px 0px;
    background-color: #FAF5FF;
    display: flex;
    flex-direction: column;
    gap: 48px;
    .container{
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 16px;
    }
}

@media (max-width: 992px) {
    .blogContent{
        padding: 64px 16px;
        .container{
            gap: 32px;
              .cards{
            grid-template-columns: repeat(1,1fr);
        }
        }
      
    }
}