.relatedBlog {
  display: flex;
  flex-direction: column;
  gap: 50px;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      background: linear-gradient(270deg, #8031cd 2.11%, #d328ec 73.53%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      font-size: 36px;
    }
    Button{
        background-color: #D328EC;
        box-shadow: 0px 4px 12px 0px #A713FF33;
height: 48px;
border-radius: 12px;
padding: 8px 24px;
color: #FFFFFF;
font-weight: 600;
font-size: 16px;
    }
 
  }

     .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 16px;
    }
}



@media (max-width:768px) {

  .relatedBlog {
    gap:16px;
    .title {
      h2 {
        font-size: 20px;
      }
      Button{
        height: 40px;
        font-size: 12px;
        background-color: transparent;
        color:#D328EC;
        box-shadow: none;
      }
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
  }

    .contentItem {
      gap: 32px;
      .title {
        gap: 32px;
        .author {
          h2 {
            font-size: 14px;
          }
        }
        .date {
          span {
            font-size: 12px;
          }
        }
      }
      .des {
        gap: 16px;
        h3 {
          font-size: 18px;
          line-height: 24px;
        }

        p {
          font-size: 16px;
          line-height: 28px;
        }
      }
    }

  }  